* {
    margin: 0;
    padding: 0;
}
body {
    background-color: white;
    font-family: 'Roboto', Helvetica, sans-serif;
    color: white;
}

h1 {
    font-style: '300';
    font-weight: normal;
    color: white;
    font-size: 3em;
    margin-bottom: 0.2em;
    padding-bottom: 0;
}
h2 {
    font-style: '300';
    font-weight: normal;
    color: white;
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 1em;
    padding-top: 0;
}
h3 {
    font-size: 1.5em;
    font-weight: normal;
    font-style: '300';
    text-align: center;
}
h4 {
    font-style: '300';
    font-weight: normal;
    color: SlateGray;
    font-size: 3em;
    margin-bottom: 0.2em;
    margin-top: 3em;
    padding-bottom: 0;
    text-align: center;
}

h5{
    text-align: center;
    font-size: 1em;

    font-style: '300';
    margin-top:1.5em;
}

hr {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
header {
    height: 70px;
    width: 100%;
    position: fixed;
    background-color: white;
    border-bottom: 1px solid SlateGray;
}
header .nav {
    width: 800px;
    margin: 12px auto 0 auto;
}
header ul {
    float: right;
    margin-top: 15px;
    list-style: none;
}
header ul li {
    float: left;
    padding-left: 20px;
}
header ul li a {
    color: SlateGrey;
    display: block;
    text-decoration: none;
}
header a:hover {
    color: #AAAA39;
}
.logo {
    width: 27px;
    float: left;
}
.current {
    font-weight: bold;
}
.intro {
    height: 800px;
    background-image: url("../images/first-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.intro .intro-text {
    padding-top: 300px;
    text-align: center;
}
.org-btn {
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    font-family: 'Roboto', Helvetica, sans-serif;
    color: #ffffff;
    font-size: 1.1em;
    background: #f15a29;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
}
.details {
    width: 1000px;
    margin: 0 auto;
    color: SlateGray;
}
/*content styles*/

section ul {
    margin: 0 auto;
}
.detail {
    width: 9.1em;
}
.detail h3 {
    width: 100%;
}
li.detail {
    margin: 0;
    width: 33%;
    display: inline;
    text-align: center;
    float: left;
}
img.det-image {
    width: 127px;
    height: 127px;
}

.social {
    width:800px;
    margin: 0 auto;
    margin-top: 400px;
    clear: both;
    color: grey;
    text-align: center;
}

.social .info ul{
    text-align: center;
    display: block;
    margin: 0 auto;
    list-style: none;
}

.social ul > li{
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #eaebec;
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 1em 0.5em;
}

.social ul li .fa{
    padding: 11px;
}

.social .fa-twitter{
    color: #55acee;
}

.social .fa-facebook{
    color: #4c66a4;
}

.social .fa-instagram{
    color: #3f729b;
}

.social p{
    clear: both;
    text-align: center;
    margin-bottom: 2em;
    color: #838994;
    font-size: 0.9em;
    font-weight: '300';
}